{
  "parser": "babel-eslint",
  "extends": ["airbnb","plugin:prettier/recommended"],
  "plugins": ["import", "jsx-a11y", "react"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
