.header {
  font-size: 32px;
  overflow:hidden;
  height: 350px;
  color: #ffffff;
  clip-path: polygon(100% 0, 100% 100%, 84% 86%, 40% 100%, 0 80%, 0 0);
  background:
    linear-gradient(45deg, hsla(196, 77%, 66%, 1) 0%, hsla(196, 77%, 66%, 0) 70%),
    linear-gradient(135deg, hsla(307, 46%, 28%, 1) 10%, hsla(307, 46%, 28%, 0) 80%),
    linear-gradient(225deg, hsla(210, 100%, 51%, 1) 10%, hsla(210, 100%, 51%, 0) 80%),
    linear-gradient(315deg, hsla(179, 66%, 74%, 1) 100%, hsla(179, 66%, 74%, 0) 70%);
  .header-flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}