body {
  background:
          -webkit-linear-gradient(45deg, hsla(196, 77%, 66%, 1) 0%, hsla(196, 77%, 66%, 0) 70%),
          -webkit-linear-gradient(315deg, hsla(307, 46%, 28%, 1) 10%, hsla(307, 46%, 28%, 0) 80%),
          -webkit-linear-gradient(225deg, hsla(210, 100%, 51%, 1) 10%, hsla(210, 100%, 51%, 0) 80%),
          -webkit-linear-gradient(135deg, hsla(179, 66%, 74%, 1) 100%, hsla(179, 66%, 74%, 0) 70%);
  background:
          linear-gradient(45deg, hsla(196, 77%, 66%, 1) 0%, hsla(196, 77%, 66%, 0) 70%),
          linear-gradient(135deg, hsla(307, 46%, 28%, 1) 10%, hsla(307, 46%, 28%, 0) 80%),
          linear-gradient(225deg, hsla(210, 100%, 51%, 1) 10%, hsla(210, 100%, 51%, 0) 80%),
          linear-gradient(315deg, hsla(179, 66%, 74%, 1) 100%, hsla(179, 66%, 74%, 0) 70%);
}

@font-face {
  font-family: Comfortaa;
  src: url('../fonts/Comfortaa-Regular.ttf');
}

h1 {
  font-family: Comfortaa, serif;
}