@font-face {
    font-family: 'Comfortaa';
    url('./Comfortaa-Regular.ttf') format('tff'),
    font-weight: 400;
    font-style: normal;
}

.hello {
    color: #108ee9;
    font-family: 'Comfortaa', cursive;
    background: url('./parrot.svg');
}

